<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="context-path" th:content="@{/}"/>
    
  

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!--  link rel="stylesheet" href="style.css"> -->
<!--  <script src="script.js"></script> -->


<title>Insert title here</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">

<script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css"/>


<script>
	$(document).ready(function() {
		
// 		$("#productIn").on("click", function() {
// 			$("#method").val("POST");
// 			var frm = $("#frm")[0];
		
// 			frm.action = "/jr41/ProductInserting";
// 			frm.submit();
// 		});
		
		$("#productCn").on("click", function() {
			location.href="/jr41/adminProduct";
		});
	});

</script>

</head>
<body>
<!-- 		<th:block th:include="admin/users-js"></th:block> -->
	<section>
		<div class="container-fluid">
			<div class="row mb-5 mt-5">
				<div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
					<div class="row">
							<form id="frm" method="post" action="/jr41/ProductInserting" th:action="@{/jr41/ProductInserting}" enctype="multipart/form-data">
									<!-- 스토어이름 -->
									<!-- 스토어아이디  -->
									<div class="row my-3">										
										<div class="col-sm-4 my-auto">
											<h6 class="text-center">스토어아이디</h6>
										</div>
										<div class="col-sm-5 my-auto">
											<input type="text" id="storeId" name="storeId" class="col-sm-9 form-control" >
										</div>
									</div>	
									<!-- 카테고리 -->									
									<div class="row my-3">
										<div class="col-sm-4  my-auto">
											<h6 class="text-center">카테고리</h6>
										</div>
										<div class="col-sm-5 my-auto">
											<div class="dropdown">	
												<select id="productCateId" name="productCateId" class="form-control">
												    <option >1</option>
												    <option >2</option>
												</select>
											</div>
										</div>
									</div>
									
								<!-- 주문기한>  -->
								 <div class="row" style="display:flex;flex-wrap: wrap;-ms-flex-wrap: wrap;">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="from" name="date1" value='' placeholder="폼 시작일" autocomplete="off" style="width:50%;display: inline-block;float: left;font-size: 11px;">
                                    <div style="width:1%;display:inline-block;float:left;height:40px;"></div>
                                    <select class="form-control" name="hour1" id="hour1" value='00' placeholder="시간" style="width:24%;display: inline-block;float: left;padding:0px;font-size: 11px;">
                                                                    <option value="00" selected>00</option>
                                                                    <option value="01" >01</option>
                                                                    <option value="02" >02</option>
                                                                    <option value="03" >03</option>
                                                                    <option value="04" >04</option>
                                                                    <option value="05" >05</option>
                                                                    <option value="06" >06</option>
                                                                    <option value="07" >07</option>
                                                                    <option value="08" >08</option>
                                                                    <option value="09" >09</option>
                                                                    <option value="10" >10</option>
                                                                    <option value="11" >11</option>
                                                                    <option value="12" >12</option>
                                                                    <option value="13" >13</option>
                                                                    <option value="14" >14</option>
                                                                    <option value="15" >15</option>
                                                                    <option value="16" >16</option>
                                                                    <option value="17" >17</option>
                                                                    <option value="18" >18</option>
                                                                    <option value="19" >19</option>
                                                                    <option value="20" >20</option>
                                                                    <option value="21" >21</option>
                                                                    <option value="22" >22</option>
                                                                    <option value="23" >23</option>
                                                                    </select>
                                    <div style="width:1%;display:inline-block;float:left;height:40px;"></div>
                                    <select class="form-control" name="minute1" id="minute1" value='00' placeholder="분" style="width:24%;display: inline-block;float: left;padding:0px;font-size: 11px;">
                                                                    <option value="00" selected>00</option>
                                                                    <option value="01" >01</option>
                                                                    <option value="02" >02</option>
                                                                    <option value="03" >03</option>
                                                                    <option value="04" >04</option>
                                                                    <option value="05" >05</option>
                                                                    <option value="06" >06</option>
                                                                    <option value="07" >07</option>
                                                                    <option value="08" >08</option>
                                                                    <option value="09" >09</option>
                                                                    <option value="10" >10</option>
                                                                    <option value="11" >11</option>
                                                                    <option value="12" >12</option>
                                                                    <option value="13" >13</option>
                                                                    <option value="14" >14</option>
                                                                    <option value="15" >15</option>
                                                                    <option value="16" >16</option>
                                                                    <option value="17" >17</option>
                                                                    <option value="18" >18</option>
                                                                    <option value="19" >19</option>
                                                                    <option value="20" >20</option>
                                                                    <option value="21" >21</option>
                                                                    <option value="22" >22</option>
                                                                    <option value="23" >23</option>
                                                                    <option value="24" >24</option>
                                                                    <option value="25" >25</option>
                                                                    <option value="26" >26</option>
                                                                    <option value="27" >27</option>
                                                                    <option value="28" >28</option>
                                                                    <option value="29" >29</option>
                                                                    <option value="30" >30</option>
                                                                    <option value="31" >31</option>
                                                                    <option value="32" >32</option>
                                                                    <option value="33" >33</option>
                                                                    <option value="34" >34</option>
                                                                    <option value="35" >35</option>
                                                                    <option value="36" >36</option>
                                                                    <option value="37" >37</option>
                                                                    <option value="38" >38</option>
                                                                    <option value="39" >39</option>
                                                                    <option value="40" >40</option>
                                                                    <option value="41" >41</option>
                                                                    <option value="42" >42</option>
                                                                    <option value="43" >43</option>
                                                                    <option value="44" >44</option>
                                                                    <option value="45" >45</option>
                                                                    <option value="46" >46</option>
                                                                    <option value="47" >47</option>
                                                                    <option value="48" >48</option>
                                                                    <option value="49" >49</option>
                                                                    <option value="50" >50</option>
                                                                    <option value="51" >51</option>
                                                                    <option value="52" >52</option>
                                                                    <option value="53" >53</option>
                                                                    <option value="54" >54</option>
                                                                    <option value="55" >55</option>
                                                                    <option value="56" >56</option>
                                                                    <option value="57" >57</option>
                                                                    <option value="58" >58</option>
                                                                    <option value="59" >59</option>
                                                                    </select>
                                    
                                </div>
                            </div>
                            <div class="col-md-1" style="display: inline-block;float: left;line-height: 40px;">~</div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="to" name="date2" value='' placeholder="폼 종료일" autocomplete="off" style="width:50%;display: inline-block;float: left;font-size: 11px;">
                                    <div style="width:1%;display:inline-block;float:left;height:40px;"></div>
                                    <select class="form-control" name="hour2" id="hour2" value='23' placeholder="시간" style="width:24%;display: inline-block;float: left;padding:0px;font-size: 11px;">
                                                                    <option value="00" >00</option>
                                                                    <option value="01" >01</option>
                                                                    <option value="02" >02</option>
                                                                    <option value="03" >03</option>
                                                                    <option value="04" >04</option>
                                                                    <option value="05" >05</option>
                                                                    <option value="06" >06</option>
                                                                    <option value="07" >07</option>
                                                                    <option value="08" >08</option>
                                                                    <option value="09" >09</option>
                                                                    <option value="10" >10</option>
                                                                    <option value="11" >11</option>
                                                                    <option value="12" >12</option>
                                                                    <option value="13" >13</option>
                                                                    <option value="14" >14</option>
                                                                    <option value="15" >15</option>
                                                                    <option value="16" >16</option>
                                                                    <option value="17" >17</option>
                                                                    <option value="18" >18</option>
                                                                    <option value="19" >19</option>
                                                                    <option value="20" >20</option>
                                                                    <option value="21" >21</option>
                                                                    <option value="22" >22</option>
                                                                    <option value="23" selected>23</option>
                                                                    </select>
                                    <div style="width:1%;display:inline-block;float:left;height:40px;"></div>
                                    <select class="form-control" name="minute2" id="minute2" value='59' placeholder="분" style="width:24%;display: inline-block;float: left;padding:0px;font-size: 11px;">
                                                                    <option value="00" >00</option>
                                                                    <option value="01" >01</option>
                                                                    <option value="02" >02</option>
                                                                    <option value="03" >03</option>
                                                                    <option value="04" >04</option>
                                                                    <option value="05" >05</option>
                                                                    <option value="06" >06</option>
                                                                    <option value="07" >07</option>
                                                                    <option value="08" >08</option>
                                                                    <option value="09" >09</option>
                                                                    <option value="10" >10</option>
                                                                    <option value="11" >11</option>
                                                                    <option value="12" >12</option>
                                                                    <option value="13" >13</option>
                                                                    <option value="14" >14</option>
                                                                    <option value="15" >15</option>
                                                                    <option value="16" >16</option>
                                                                    <option value="17" >17</option>
                                                                    <option value="18" >18</option>
                                                                    <option value="19" >19</option>
                                                                    <option value="20" >20</option>
                                                                    <option value="21" >21</option>
                                                                    <option value="22" >22</option>
                                                                    <option value="23" >23</option>
                                                                    <option value="24" >24</option>
                                                                    <option value="25" >25</option>
                                                                    <option value="26" >26</option>
                                                                    <option value="27" >27</option>
                                                                    <option value="28" >28</option>
                                                                    <option value="29" >29</option>
                                                                    <option value="30" >30</option>
                                                                    <option value="31" >31</option>
                                                                    <option value="32" >32</option>
                                                                    <option value="33" >33</option>
                                                                    <option value="34" >34</option>
                                                                    <option value="35" >35</option>
                                                                    <option value="36" >36</option>
                                                                    <option value="37" >37</option>
                                                                    <option value="38" >38</option>
                                                                    <option value="39" >39</option>
                                                                    <option value="40" >40</option>
                                                                    <option value="41" >41</option>
                                                                    <option value="42" >42</option>
                                                                    <option value="43" >43</option>
                                                                    <option value="44" >44</option>
                                                                    <option value="45" >45</option>
                                                                    <option value="46" >46</option>
                                                                    <option value="47" >47</option>
                                                                    <option value="48" >48</option>
                                                                    <option value="49" >49</option>
                                                                    <option value="50" >50</option>
                                                                    <option value="51" >51</option>
                                                                    <option value="52" >52</option>
                                                                    <option value="53" >53</option>
                                                                    <option value="54" >54</option>
                                                                    <option value="55" >55</option>
                                                                    <option value="56" >56</option>
                                                                    <option value="57" >57</option>
                                                                    <option value="58" >58</option>
                                                                    <option value="59" selected>59</option>
                                                                    </select>
    
                                </div>
                            </div>
								
										<!-- 대포이미지 -->		
									<div class="row my-3">										
										<div class="col-sm-4 my-auto">
											<h6 class="text-center">썸네일</h6>
										</div>
										<div class="col-sm-8 my-auto">
											<input type="file" id="productImg" name="productImg" class="form-control" multiple >
										</div>
									</div>	
									
									
										<!-- 상품설명 -->
										
									<div class="row my-3">
										<div class="col-sm-4">
											<h6 class="text-center ">상품설명</h6>
										</div>
										<div class="col-sm-12 ">
											<textarea rows="10" class="form-control h-5" id="productDescription" name="productDescription" placeholder="내용을 입력하세요" ></textarea>
										</div>
									</div>
										<!-- 상품설명이미지첨부 -->
									<div class="row my-3">										
										<div class="col-sm-4 my-auto">
											<h6 class="text-center">상품설명 이미지 첨부</h6>
										</div>
										<div class="col-sm-8 my-auto">
											<input type="file" id="files" name="files" class="form-control" placeholder="제목을 입력해주세요" multiple>
										</div>
									</div>	
									
									
									
									
									
									<!-- 상품명 -->	
									<h6 class="text-center">상품정보</h6>
									       <div class="row">
                            <div class="col-md-12" id="goods_div" style="text-align:left">
    
                            <div class="row" style="padding-top:5px;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;">
                                <div class="col-md-4 mcol-md-4" style="text-align:left;font-weight:700;">
                                상품명
                                </div>
                                <div class="col-md-2 mcol-md-2" style="text-align:left;font-weight:700;">
                                가격
                                </div>
                                <div class="col-md-2 mcol-md-2" style="text-align:left;font-weight:700;">
                                재고
                                </div>
                               
    <!-- 							<div class="col-md-2 mcol-md-2" style="text-align:left;font-weight:700;"> -->
    <!-- 							 -->
    <!-- 							</div> -->
                            </div>
                            <div class="row" style="padding-top:5px;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;">
                                <div class="col-md-4 mcol-md-4" style="text-align:left;font-weight:700;">
                                    <input type="text" id="goods_name1" name="goods_name[]" value="" style="padding:3px;font-size:15px;width:100%;color: #495057;background-color: #f9fafc;border: 1px solid #cbcbcb;">
                                </div>
                                <div class="col-md-2 mcol-md-2" style="text-align:left;font-weight:700;">
                                    <input type="number" id="goods_price1" name="goods_price[]" value="" min="0" inputmode="numeric" pattern="[0-9]*" style="padding:3px;font-size:15px;width:80%;color: #495057;background-color: #f9fafc;border: 1px solid #cbcbcb;"> 원
                                </div>
                                <div class="col-md-2 mcol-md-2" style="text-align:left;font-weight:700;">
                                    <input type="number" id="goods_quantity1" name="goods_quantity[]" value="" min="0" inputmode="numeric" pattern="[0-9]*" style="padding:3px;font-size:15px;width:78%;color: #495057;background-color: #f9fafc;border: 1px solid #cbcbcb;"> 개
                                </div>
                                <div class="col-md-2 mcol-md-2" style="text-align:left;font-weight:700;padding-left:10px;">
                                    <input type="number" id="goods_limit1" name="goods_limit[]" value="" min="0" inputmode="numeric" pattern="[0-9]*" style="padding:3px;font-size:15px;width:70%;color: #495057;border: 1px solid #cbcbcb;margin-left:5px;" disabled> 개
                                </div>
                                <div class="col-md-2 mcol-md-2" style="text-align:left;font-weight:700;">
                                
                                </div>
                            </div>
    
                                     
                    
    
                            </div>
                            <div class="col-md-9" id="goods_div2" style="text-align:left;display:none;">
                            </div>
                        </div>
                
                        <div id="add_goods_row" class="row" style="padding-top:5px;margin-top:8px">
                            <div class="col-md-4">
                                <input class="btn btn-primary" name="addButton" type="button" style="background-color: #fed136;border-color: #fed136;cursor:hand;padding:4px 10px;width:100%;" onClick="add_goods(0)" value="+ 상품추가">
                            </div>
                        </div>
									
									<!-- 배송비  -->
<!-- 									<h6 class="text-center">상품정보</h6> -->
<!-- 									<div class="row my-3"> -->
<!-- 										<div class="col-sm-4  my-auto"> -->
<!-- 											<h6 class="text-center">상품명</h6> -->
<!-- 										</div> -->
<!-- 										<div class="col-sm-8 my-auto"> -->
<!-- 											<input type="text" id="productName" name="productName" class="col-sm-9 form-control" placeholder="상품명을 입력해주세요"> -->
<!-- 										</div> -->
<!-- 									</div> -->
									
								
									
									<div class="row mt-5 mx-auto ">
										<div class="col text-center">
											<button type="submit" id="productIn" name="prodcutIn" class="btn btn-secondary">등록</button>
											<button type="button" id="productCn" name="prodcutCn" class="btn btn-secondary">취소</button>
										</div>
									</div>
								</form>

		    				</div>
						</div>
				
					</div>
				</div>
			</div>
			</section>
		
		
		
	
	

</body>
</html>