<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상시판매물품</title>
 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<title>Insert title here</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>

	.userMenu {
	
/* 	  margin-left:110px; */
/* 		  margin-right:110px; */
		  	 font-size: 10px;
	}
	
	 	.userMenu {
	
/* 	  margin-left:110px; */
/* 		  margin-right:110px; */
		  	 font-size: 10px;
	}
	
	 
	 .logo{
/* 	 	 margin-left:110px; */
/* 		  margin-right:110px; */
	 }
	
		.headerMenu{
	
		display: flex;
		 justify-content: space-between;
		   align-items: center;
/* 		  margin-left:110px; */
/* 		  margin-right:110px; */
		font-family: 'Noto Sans KR', sans-serif;
		font-weight:400;
			 font-size: 22px;
	}
	
 	.header{
	
 	margin:0 auto; /* div를 중앙정렬합니다. */ 
 	width:1050px; 
	
	
	} 


	
	
 	.footer{
	
		margin:0 auto; /* div를 중앙정렬합니다. */ 
 	width:1050px; 
		font-family: 'Noto Sans KR', sans-serif;
		
		
	}
	
	
	.detailPanel{
	
			margin:0 auto;
		width:1050px;
		font-family: 'Noto Sans KR', sans-serif;
		 
		
	}
	
	.itemDetail{
		  margin-left:20px; 
		  margin-right:20px;
	
	}
	/* 이미지 관련 스타일 */

			
			.carousel-inner > .item > img,
			  .carousel-inner > .item > a > img {
			      margin: auto;
			  }
			  
			#myCarousel{
				max-width: 450px;
				margin: 0 auto;
				background: #fff;
			}
			
			#thumbCarousel{
				max-width: 450px;
				margin: 0 auto;
				overflow: hidden;
				padding: 10px 0;
			}
			
			#thumbCarousel .thumb{
				float: left;
				margin-right: 10px;
				border: 1px solid #ccc;
				background: #fff;
			}
			
			#thumbCarousel .thumb:last-child{
				margin-right: 0;
			}
			
			.thumb:hover{
				cursor: pointer;
			}
			
			.thumb img{
				opacity: 0.5;
			}
			
			.thumb img:hover{
				opacity: 1;
			}
			
			.thumb.active img{
				opacity: 1;
			  border: 1px solid #1d62b7;
			}
			
	/* 상품설명  */
	
	.detailProductImg{
	
		margin:0 auto;
	
	}
	

</style>
<script>
$(document).ready(function(){
	 
     //Show carousel-control
     
     $("#myCarousel").mouseover(function(){
         $("#myCarousel .carousel-control").show();
     });

     $("#myCarousel").mouseleave(function(){
         $("#myCarousel .carousel-control").hide();
     });
     
     //Active thumbnail
     
     $("#thumbCarousel .thumb").on("click", function(){
         $(this).addClass("active");
         $(this).siblings().removeClass("active");
     
     });
     
     //When the carousel slides, auto update
     
     $('#myCarousel').on('slid.bs.carousel', function(){
        var index = $('.carousel-inner .item.active').index();
        //console.log(index);
        var thumbnailActive = $('#thumbCarousel .thumb[data-slide-to="'+index+'"]');
        thumbnailActive.addClass('active');
        $(thumbnailActive).siblings().removeClass("active");
        //console.log($(thumbnailActive).siblings()); 
     });
  });





</script>

</head>
<body>
	<header th:include="/header :: header"></header>
	
	<main>
	<!-- 아이템 썸네일 구매  -->
		<div class="mt-5 pt-2 detailPanel">
			<div class="row d-flex justify-content-between itemDetail">
				<div class="itemImg"  style="width: 500px;">
				   <div>
				      <div id="myCarousel" class="carousel slide" data-interval="false">
				    
				      <div class="carousel-inner" role="listbox">
				          <div class="item active">
				            <img src="homeimage1.jpg"  th:src="@{/img/homeimage3.jpg}" class="d-block w-100"  alt="XZ" style="width: 450px; height: 400px">
				          </div>
				          <div class="item">
				             <img src="homeimage1.jpg"  th:src="@{/img/homeimage3.jpg}" class="d-block w-100"  alt="XZ" style="width: 450px; height: 400px">
				          </div>
				          <div class="item">
				         	 <img src="homeimage1.jpg"  th:src="@{/img/homeimage3.jpg}" class="d-block w-100" alt="XZ" style="width: 450px; height: 400px">
				          </div>
				          <div class="item">
				             <img src="homeimage1.jpg"  th:src="@{/img/homeimage3.jpg}" class="d-block w-100" alt="XZ" style="width: 450px; height: 400px">
				          </div>
				        
				          
				          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				              <span class="sr-only">Previous</span>
				          </a>
				          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				              <span class="sr-only">Next</span>
				          </a>
				        </div>
				        
				        <div id="thumbCarousel">
				          <div data-target="#myCarousel" data-slide-to="0" class="thumb active"> <img src="homeimage1.jpg"  th:src="@{/img/homeimage3.jpg}" class="d-block w-100" alt="XZ" style="width: 40px; height: 40px"></div>
				          <div data-target="#myCarousel" data-slide-to="1" class="thumb"> <img src="homeimage1.jpg"  th:src="@{/img/homeimage3.jpg}" class="d-block w-100"alt="XZ" style="width: 4px; height: 40px"></div>
				          <div data-target="#myCarousel" data-slide-to="2" class="thumb"> <img src="homeimage1.jpg"  th:src="@{/img/homeimage3.jpg}" class="d-block w-100" alt="XZ" style="width: 40px; height: 40px"></div>
				          <div data-target="#myCarousel" data-slide-to="3" class="thumb"> <img src="homeimage1.jpg"  th:src="@{/img/homeimage3.jpg}" class="d-block w-100" alt="XZ" style="width: 40px; height: 40px"></div>
				        </div>
				      
				      </div>
				    </div>
				</div>
	
				<div class="aboutItem" style="width: 450px;"> 
					<div class="설명">
						<h1>이름</h1>
						<hr>
						<h2>가격</h2>
						<br>
						<h5>배송비</h5>
						<br>
						<p>수량</p>
						<p>수량</p>
						<p>수량</p>
						<p>수량</p>
						<p>수량</p>
						<p>수량</p>
					
					</div>
					<div class="mt-5 itemButt">
						<button class="col-4 btn_cart" type="submit" id="btn_cart" >장바구니</button>
						<button class="col-4 buy" >구매하기</button>
						<button class="col-2 jjim" > 찜 </button>
			
					</div>		
				</div>	
			</div>
		
		<!-- 상품상세 -->
	    	<div >
				<div>
					<a name="detailProduct"></a>
				 ​  <ul class="nav justify-content-center nav-tabs">
	    		        <li class="nav-item">   
	                        <a href="#detailProduct" class="nav-link link-dark active" data-target="1">상품상세</a>
	                    </li>
	                    <li class="nav-item">
	                        <a href="#showReview" class="nav-link link-dark ">상품후기</a>
	                    </li>
	                    <li class="nav-item">
	                        <a href="#showQna" class="nav-link link-dark">상품문의</a>
	                    </li>
	                     <li class="nav-item">
	                        <a href="#deliverInfo" class="nav-link link-dark ">배송/교환/환불</a>
	                    </li>
                   </ul>
	    	   </div>
	    	   
	    	   <div class="mt-5 detailProductImg" style="text-align: center" >
	    	   
	    	    <img src="homeimage1.jpg"  th:src="@{/img/homeimage3.jpg}" alt="XZ" style="width: 500px; height: 700px;">
	    	   
	    	   </div>
	   		</div>	    
		    
			<!-- 리뷰 -->
			<div class="mt-5">
				<div>
					<a name="showReview"></a>					
				 ​  <ul class="nav justify-content-center nav-tabs">
	    		        <li class="nav-item">   
	                        <a href="#detailProduct" class="nav-link link-dark">상품상세</a>
	                    </li>
	                    <li class="nav-item">
	                        <a href="#showReview" class="nav-link link-dark  active">상품후기</a>
	                    </li>
	                    <li class="nav-item">
	                        <a href="#showQna" class="nav-link link-dark">상품문의</a>
	                    </li>
	                     <li class="nav-item">
	                        <a href="#deliverInfo" class="nav-link link-dark ">배송/교환/환불</a>
	                    </li>
                   </ul>
	    	   </div>
	    	   <div class="review">
	    	   
	    	   </div>
			
			</div>
			
			
			<!-- 문의 -->
			<div class="mt-5">
				<div>
				<a name="showQna"></a>
				 ​  <ul class="nav justify-content-center nav-tabs">
	    		        <li class="nav-item">   
	                        <a href="#detailProduct" class="nav-link link-dark">상품상세</a>
	                    </li>
	                    <li class="nav-item">
	                        <a href="#showReview" class="nav-link link-dark ">상품후기</a>
	                    </li>
	                    <li class="nav-item">
	                        <a href="#showQna" class="nav-link link-dark  active">상품문의</a>
	                    </li>
	                     <li class="nav-item">
	                        <a href="#deliverInfo" class="nav-link link-dark ">배송/교환/환불</a>
	                    </li>
                   </ul>
	    	   </div>
	    	   <div class="qna">
	    	   
	    	   </div>
			
			</div>
			
			
			<!-- 배송교환환불 -->
			<div class="mt-5">
				<div>
				<a name="deliverInfo"></a>
				 ​  <ul class="nav justify-content-center nav-tabs">
	    		        <li class="nav-item">   
	                        <a href="#detailProduct" class="nav-link link-dark">상품상세</a>
	                    </li>
	                    <li class="nav-item">
	                        <a href="#showReview" class="nav-link link-dark ">상품후기</a>
	                    </li>
	                    <li class="nav-item">
	                        <a href="#showQna" class="nav-link link-dark ">상품문의</a>
	                    </li>
	                     <li class="nav-item">
	                        <a href="#deliverInfo" class="nav-link link-dark  active">배송/교환/환불</a>
	                    </li>
                   </ul>
	    	   </div>
	    	   <div class="deliveryInfo ">
	    	   	 <div class="mt-5" style="width: 80%;margin:0 auto;" >
	    	   	 	<div class="row" >
	    	   			<div class="col-3 text-center align-self-center" style="height: 100px;">배송</div>
	    	   			<div class="col-8" >
	    	   			배송기간은 주문일(무통장입금은 결제완료일)로부터 1일(24시간) ~ 5일정도 걸립니다.<br>
						업체조건배송 상품은 해당 브랜드 배송기준으로 배송비가 부여됩니다. 업체착불배송 상품은 해당 브랜드 배송기준 및 배송지에 따라 배송비가 착불로 부과됩니다.<br>
						해외배송 표시가 되어 있는 상품은 해외 주소로 배송이 가능합니다. (배송방법 : EMS)
							    	   			
	    	   			</div>
	    	   		
	    	   		</div>
	    	   		<div class="row mt-3" >
	    	   			<div class="col-3 text-center">교환/환불</div>
	    	   			<div class="col-8">
	    	   			교환/반품 신청은 배송완료 후 7일 이내 가능합니다.<br>
						변심 반품의 경우 왕복배송비를 차감한 금액이 환불되며, 제품 및 포장 상태가 재판매 가능하여야 합니다.<br>
						상품 불량인 경우는 배송비를 포함한 전액이 환불됩니다.<br>
						출고 이후 환불요청 시 상품 회수 후 처리됩니다.<br>
						상품페이지에 교환/환불/AS에 대한 브랜드 개별기준이 있는 경우에는 해당 내용이 우선 적용 됩니다.<br>
													    	   			
	    	   			</div>
	    	   		
	    	   		</div>
	    	   	 </div>
	    	   		
	    	   </div>
			
			</div>
			
			
		
		
		
		
		</div>
		
	
	
	
	
	</main>
	
	
	<footer th:include="/footer:: footer"></footer>
	

	
	
</body>
</html>