<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="context-path" th:content="@{/}"/>
    
  

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!--  link rel="stylesheet" href="style.css"> -->
<!--  <script src="script.js"></script> -->


<title>Insert title here</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script th:inline="javascript">
// 	$(function(){
// 	    // Ajax call for category
// 	    $.ajax({
// 	        method : 'GET',
// 	        url: BASE_CONTEXT_PATH + 'users',
// 	    }).done(function(result){
// 	        console.log(result);
// 	        // Category tables
// 	        $('#user_table').DataTable({
// 	            data : result,
// 	            columns: [
// 	                { data: 'username' },
// 	                { data: 'enabled' },
// 	            ]
// 	        });
// 	    }).fail(function(xhr, ajaxOptions, thrownError){
// 	        alert(xhr);
// 	    });
// 	});
</script>

</head>
<body>
<!-- 		<th:block th:include="admin/users-js"></th:block> -->
			<section>
		<div class="container-fluid">
			<div class="row mb-5 mt-5">
				<div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
					<div class="row">
						 <div class="col-12">
						 		<h3 class="text-muted text-center mb-3">판매자 목록</h3>
						    </div>
						        <table id="user_table" class="table text-center table-striped table-bordered mx-5">
						            <colgroup>
										<col width="5%" />
										<col width="10%" />
										<col width="10%" />
										<col width="15%" />
										<col width="15%" />
										<col width="15%" />
										<col width="20%" />
									</colgroup>
						            <thead>
						                <tr class="text-muted">
						                	<th>아이디</th>
											<th>전화번호</th>
											<th>이메일</th>
											<th>주소</th>
											<th>가게명</th>
											<th>가게설명</th>
											<th>가게주소</th>
						                </tr> 
						            </thead>
						            <tbody>
										<tr th:if="${#lists.size(loginDtoList)} > 0" th:each="list : ${loginDtoList}">
											<td>
												<a href="/master/sellersDetail/" th:attrappend="href=${list.userId}" th:text="${list.userId}" class="text-decoration-none"></a>
											</td>
											<td th:text="${list.userPhone}"></td>
											<td th:text="${list.userEmail}"></td>
											<td th:text="${list.userAddr}"></td>
											<td th:text="${list.storeName}"></td>
											<td th:text="${list.storeDesc}"></td>
											<td th:text="${list.storeAddr}"></td>
										</tr>
										<tr th:unless="${#lists.size(loginDtoList)} > 0">
											<td colspan="5">내용이 없습니다</td>
										</tr>
									</tbody>
						        </table>
		    				</div>
						</div>
					</div>
				</div>
			</section>
		
		
		
	
	

</body>
</html>