<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="context-path" th:content="@{/}"/>
    
  

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!--  link rel="stylesheet" href="style.css"> -->
<!--  <script src="script.js"></script> -->


<title>Insert title here</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">

<script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css"/>
<style>
	.makeForm{
		 margin-left:300px;
	}

</style>
  <script type="text/javascript">

   

 						 var count = 0;

           function addForm(){

                     var addedFormDiv = document.getElementById("addedFormDiv");

                   

                     var str = "";

//                      str+="상품명"+count+" <input type='text' name='tb1_"+count+"'>";

//                      str+="가격"+count+" <input type='text' name='tb2_"+count+"'>";

//                      str+="재고"+count+" <input type='text' name='tb3_"+count+"'>";

//                       str+= "<input type='button' value='삭제' onclick='remove(this)'>";                    
//  					// 추가할 폼(에 들어갈 HTML)

                    
                  	 str+="상품명"+count+" <input type='text' name='tb1'>";

                     str+="가격"+count+" <input type='text' name='tb2'>";

                     str+="재고"+count+" <input type='text' name='tb3'>";

                      str+= "<input type='button' value='삭제' onclick='remove(this)'>";                    
 					// 추가할 폼(에 들어갈 HTML)
                    

                     var addedDiv = document.createElement("div"); // 폼 생성

                     addedDiv.id = "added_"+count; // 폼 Div에 ID 부여 (삭제를 위해)

                     addedDiv.innerHTML  = str; // 폼 Div안에 HTML삽입

                     addedFormDiv.appendChild(addedDiv); // 삽입할 DIV에 생성한 폼 삽입

          

                     count++;

                  //   document.baseForm.count.value=count;

                     // 다음 페이지에 몇개의 폼을 넘기는지 전달하기 위해 히든 폼에 카운트 저장

           }

           const remove = (obj) => {
               document.getElementById('addedFormDiv').removeChild(obj.parentNode);
           }

           function delForm(){

                     var addedFormDiv = document.getElementById("addedFormDiv");

          

                     if(count >1){ // 현재 폼이 두개 이상이면

                                var addedDiv = document.getElementById("added_"+(--count));

                                // 마지막으로 생성된 폼의 ID를 통해 Div객체를 가져옴

                                addedFormDiv.removeChild(addedDiv); // 폼 삭제 

                     }else{ // 마지막 폼만 남아있다면

                                document.baseForm.reset(); // 폼 내용 삭제

                     }

           }

		 function add_item(){
		          // pre_set 에 있는 내용을 읽어와서 처리..
		          var div = document.createElement('div');
		          div.innerHTML = document.getElementById('pre_set').innerHTML;
		          document.getElementById('field').appendChild(div);
		     }
		     function remove_item(obj){
		          // obj.parentNode 를 이용하여 삭제
		          document.getElementById('field').removeChild(obj.parentNode);
		     }
		     


		     
// 		     $.fn.serializeObject = function() {
		    	 
// 		    	  var result = {}
		    	 
// 		    	  var extend = function(i, element) {
// 		    	    var node = result[element.name]
		    	    
// 		    	    if ("undefined" !== typeof node && node !== null) {
// 		    	      if ($.isArray(node)) {
// 		    	        node.push(element.value)
// 		    	      } else {
// 		    	        result[element.name] = [node, element.value]
// 		    	      }
// 		    	    } else {
// 		    	      result[element.name] = element.value
// 		    	    }
// 		    	  }

// 		    	  $.each(this.serializeArray(), extend)
// 		    	  return result
// 		    	}

// 		    	var serializeObject = $('#dataForm').serializeObject();
// 		    	console.dir(serializeObject);
	 	
	 
		  // 	 $(document).on('click','#productIn',function(){
// 		 			var obj = new Object(); //key, value형태로 저장할 Object
// 		 			 var arr = []; //Object를 배열로 저장할 Array
				 /* 		 alert('리뷰등록 완료');
						 var market = [];
						 var arr = {};
		 
						 market.name = $("#name").text();
						 market.plan = $("#plan").val();
						 market.banking = $("#banking").val(); 
						 
		 		    		$(arr).each(function(idx, item){
		 		    			arr.tb1 = $("#tb1").val();
		 		    			arr.tb2 = $("#tb2").val();
		 		    			arr.tb2 = $("#tb2").val();
 		 		    		});
		 			 alert('arr');
		 			alert('market');
						console.log(market);
						
						$.ajax({ 
			  				   url:'/admin/maketInserting',
			  				   type:'get',
			  				   // 서버로 보내지는 데이터 
			  					 data:market,
			  				   // 보내지는 데이터의 형식 <> 서버에서부터 데이터받을때의 타입의 dataType
			  				   // 헤더셋팅
			  				  // contentType:"application/json; charset=utf-8",
			  				   // 처리가 성공했을때 실행되는 함수 
			  				   success: function(result, status, xhr){
			  				   // 성공하면 callback 함수가 있는 경우 실행 한다 
			  				   // 요 밑에 해당하는 거는 다 javascript, jquerys
				  				   if(callback){  				     
				  				   		callback();
				  				   }
				  				 //  	alert(result);
				  				 //  	alert(status);
				  				   
				  				 },
			  				   // 처리가 실패했을때 실행되는 함수 

			  				 error : function(xhr, status, er){
			  				 	alert(status);
			  				  	alert(er);
			  				 }  
			  				 
			  				 
			  				});
						
		 			
		 			
		    	 }); */
		 			 
		 			 
		 			 
		 			     // 두개의 폰 전송
//		     var data = $('#baseForm2 ,).serialize();
		    	 
		    	 
		    	
		    		  
// 		    			$("#productIn").click(function(){
		    	
// 		    				var queryString = $("form[name=baseForm2]").serialize() ;
		    	 
// 		    	        $.ajax({
		    	            
// 		    	            url : '/admin/maketInserting',
// 		    	            data : queryString,
// 		    	            dataType : 'json',
// 		    	            error: function(xhr, status, error){
// 		    	                alert(error);
// 		    	            },
// 		    	            success : function(json){
// 		    	                alert(json)
// 		    	            }
// 		    	        });
		    	  
// 		    	    });


		
		 
		 			 
</script>

</head>

<!-- <body> -->
<body onload="addForm();" >

		<div class="container-fluid">
			<div class="row mb-5 mt-5">
				<div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
					<div class="row">
						 <div class="col-12">
						 		<h3 class="text-muted text-center mb-3">마켓 폼 작성</h3>
						  </div>
						  <div class="makeForm">
					
						  
<!-- 							//	<form name="baseForm2"  class="mt-5  border" action="/admin/maketInserting" method="POST"> -->
								<form name="baseForm2"  class="mt-5  border" >
								 	<div class="row my-3">										
										<div class="col-sm-4 my-auto">
											<h6 class="text-center">마켓 폼 제목 </h6>
										</div>
										<div class="col-sm-5 my-auto">
											<input type="text" id="name" name="name" class="col-sm-9 form-control" placeholder="ex) 구움과자 세트 마켓 " >
										</div>
									</div>
									<div class="row my-3">										
											<div class="col-sm-4 my-auto">
												<h6 class="text-center"> 마켓 기간 </h6>
											</div>
											<div class="col-sm-5 my-auto mt-5">
												<input type="text" id="plan" name="plan" class="col-sm-9 form-control" placeholder="ex) 구움과자 세트 마켓 " >
											</div>
									</div>
									<div class="row my-3">										
											<div class="col-sm-4 my-auto">
												<h6 class="text-center"> 계좌정보 </h6>
											</div>
											<div class="col-sm-5 my-auto mt-5">
												<input type="text" id="banking" name="banking" class="col-sm-9 form-control" placeholder="ex) 구움과자 세트 마켓 " >
											</div>
									</div> 
									
									<div class="row my-3">
									
									
									
									
									</div>
								
								           <input type="hidden" name="count" value="0">
								
								          <div class="my-3">
								          	   <input type="Button" value="추가" onclick="addForm()">
								
								           <input type="Button" value="삭제" onclick="delForm()">
																          
								           
								          </div>
								
								        
								            <div id="addedFormDiv"></div><BR> <!-- 폼을 삽입할 DIV -->
								            
										<button id="productIn" name="productIn" class="btn btn-secondary mt-3">등록</button>
								</form>
<!-- 						  	  	<form name="baseForm1" action="" method="post" class="mt-5  border"> -->
<!-- 						  			<div class="row my-3">										 -->
<!-- 										<div class="col-sm-4 my-auto"> -->
<!-- 											<h6 class="text-center">상점상세설명  </h6> -->
<!-- 										</div> -->
<!-- 										<div class="col-sm-5 my-auto"> -->
<!-- 											<input type="text" id="formName" name="formName" class="col-sm-9 form-control" placeholder="ex) 휘낭시에 맛집 ~~ " > -->
<!-- 										</div> -->
<!-- 									</div> -->
<!-- 									<div class="row my-3">										 -->
<!-- 										<div class="col-sm-4 my-auto"> -->
<!-- 											<h6 class="text-center">상점,상품 썸네일 첨부   </h6> -->
<!-- 										</div> -->
<!-- 										<div class="col-sm-5 my-auto"> -->
<!-- 											<input type="text" id="formName" name="formName" class="col-sm-9 form-control" placeholder="ex) 휘낭시에 맛집 ~~ " > -->
<!-- 										</div> -->
<!-- 									</div> -->
						  	
						  	
						  	
<!-- 						  	</form> -->
						  
						  
						  
						  </div> 	 
					   </div>
				  </div>
			</div>
		</div>
		

<!-- 	<div class="content_item" style="border:0px;margin-top:10px;background-color:#ff7676;color:#fff;padding: 20px 50px 20px 50px;cursor:pointer;font-size: 20px;font-weight: 700;" onclick="form_insert();"> -->
<!-- 										<div style="width:100%;text-align:center;"> -->
<!-- 										폼 만들기										</div> -->
										
										
<!-- 									</div> -->
		
<!-- 		<div id="pre_set" style="display:none"> -->
<!-- 		   <input type="text" name="test1" value="" style="width:100px">  -->
<!-- 		   <input type="text" name="test2" value="" style="width:100px">    -->
<!-- 		   <input type="button" value="삭제" onclick="remove_item(this)"> -->
<!-- 		</div> -->
		 
<!-- 		<div id="field"></div> -->
		 
<!-- 		<input type="button" value=" 추가 " onclick="add_item()"><br> -->



<!-- <div id="tistoryEtcLayer" class="layer_post"></div><div id="tistorySnsLayer" class="layer_post"><div class="bundle_post"><a href="#none" class="btn_mark" data-service="facebook"><span class="ico_sns ico_fb"></span>페이스북으로 공유</a><a href="#none" class="btn_mark" data-service="kakaotalk"><span class="ico_sns ico_kt"></span>카카오톡으로 공유</a><a href="#none" class="btn_mark" data-service="kakaostory"><span class="ico_sns ico_ks"></span>카카오스토리로 공유</a><a href="#none" class="btn_mark" data-service="twitter"><span class="ico_sns ico_tw"></span>트위터로 공유</a><a href="#none" class="btn_mark" data-service="url"><span class="ico_sns ico_url"></span>URL 복사</a><span class="ico_postbtn ico_arrbt"></span></div></div>
 -->

</body>

</html>
